@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-2">About Question Bank</h1>
    <p class="fs-4">Question Bank is an applicaiton that allows users to create and solve multiple choice questions with four options. Morever, the user can see the list of added questions. Also, user can view a random question as well as picking a question by selecting from the questions list. </p>
</div>