@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Question" asp-action="Editor">Add Quesstion</a>
        <a class="btn btn-primary" asp-controller="Question" asp-action="Viewer">Get Random Quesstion</a>
        <a class="btn btn-primary" asp-controller="Question" asp-action="Index">All Quesstions</a>
    </p>
</div>
