@model web_assignment.Data.QuestionModel
@{
  ViewData["Title"] = "Add Question";
}

@* The user will be able to enter a test question and its options using the form below *@
<h1 class="text-center my-5">ADD YOUR QUESTION </h1>

<div class="row justify-content-center">
  <div class="col-md-6 col-10">

    @* Thanks to TagHelpers, the relevant action is triggered, directing the user to the corresponding view page. *@
    <form asp-controller="Question" method="post">
      <div class="form-group mb-3">
        <label asp-for="title" class="mb-2">Title</label>
        <input asp-for="title" class="form-control" />
        <span style="color:#f00; font-size:12px" asp-validation-for="title"></span>
      </div>

      <div class="form-group mb-3">
        <label asp-for="content" class="mb-2">Question</label>
        <textarea asp-for="content" placeholder="write your question here" class="form-control"></textarea>
        <span style="color:#f00; font-size:12px" asp-validation-for="content"></span>
      </div>

      <div class="form-group mb-3">
        <label asp-for="correctOption" class="mb-2">Correct Option</label>
        <input asp-for="correctOption" class="form-control" />
        <span style="color:#f00; font-size:12px" asp-validation-for="correctOption"></span>
      </div>

      <div class="form-group mb-3">
        <label asp-for="optionOne" class="mb-2"> Option One</label>
        <input asp-for="optionOne" class="form-control" />
        <span style="color:#f00; font-size:12px" asp-validation-for="optionOne"></span>
      </div>

      <div class="form-group mb-3">
        <label asp-for="optionTwo" class="mb-2"> Option Two</label>
        <input asp-for="optionTwo" class="form-control" />
        <span style="color:#f00; font-size:12px" asp-validation-for="optionTwo"></span>
      </div>

      <div class="form-group mb-3">
        <label asp-for="optionThree" class="mb-2">Option Three</label>
        <input asp-for="optionThree" class="form-control" />
        <span style="color:#f00; font-size:12px" asp-validation-for="optionThree"></span>
      </div>

      @* Users submit their written questions to the database using the buttons below. *@
      <button style="float: right;" asp-controller="Question" asp-action="Editor" type="submit"
        class="btn btn-primary mt-2">Create</button>
    </form>
  </div>

</div>