@model IEnumerable<web_assignment.Data.QuestionModel>

<div class="container text-center">
    <h1 class="my-5">All Questions</h1>
    @foreach (var question in Model)
    {
        ViewBag.question = question;
        <partial name="_questionEntry" />
    }
</div>
